##EXPERIMENT NO 5
##TITLE - TO STUDY SETS AND DICTIONARIES IN PYTHON
NEHA BHAT A2 -25070123032

In [ ]:
#CREATION OF A SET
myset = {"NOVEMBER","DECEMBER","JANUARY"}
print(myset)

{'JANUARY', 'NOVEMBER', 'DECEMBER'}

In [ ]:
#DUPLICATES NOT ALLOWED
my_set = {"NOVEMBER","DECEMBER","JANUARY","NOVEMBER"}
print(my_set)

{'JANUARY', 'NOVEMBER', 'DECEMBER'}

In [ ]:
#THE VALUE TRUE AND 1 , FALSE AND 0 ARE CONSIDERED SAME
my_set ={"NOVEMBER","DECEMBER","JANUARY",True,1,2}
print(my_set)

{True, 2, 'NOVEMBER', 'DECEMBER', 'JANUARY'}

In [ ]:
#A SET WITH STRNGS,INTEGERS AD BOOLEAN VALUES:
set1 = {"abc","34","true"}
print(set1)

{'abc', 'true', '34'}

In [ ]:
#To CHECK MEMBERSHIP
my_set = {"NOVEMBER","DECEMBER","JANUARY"}
print("NOVEMBER" in my_set)

True

In [ ]:
myset = {"NOVEMBER","DECEMBER","JANUARY"}
myset.remove("NOVEMBER")
print(myset)

{'JANUARY', 'DECEMBER'}

In [ ]:
myset = {"NOVEMBER","DECEMBER","JANUARY"}
myset.add("FEBRUARY")
print(myset)

{'JANUARY', 'FEBRUARY', 'NOVEMBER', 'DECEMBER'}

In [ ]:
#SET OPERATIONS
A = {1,2,3,4,5}
B = {3,4,5,6}

print("Union :",A|B)
print("Intersection :",A&B)
print("Difference :",A-B)
print("Symmetric Difference :",A^B)

Union : {1, 2, 3, 4, 5, 6}
Intersection : {3, 4, 5}
Difference : {1, 2}
Symmetric Difference : {1, 2, 6}

In [ ]:
#FROZENSET
x = frozenset({"NOVEMBER","DECEMBER","JANUARY"})
print(x)
print(type(x))

frozenset({'JANUARY', 'NOVEMBER', 'DECEMBER'})
<class 'frozenset'>

In [ ]:
#ADDING OR REMOVAL OF ELEMENTS ARE NOT ALLOWED IN FROZENSET
X = frozenset({"NOVEMBER","DECEMBER","JANUARY"})
X.remove("DECEMBER")
print(X)

AttributeError: 'frozenset' object has no attribute 'remove'

In [ ]:
#PROBLEM 1:UNIQUE EVENTS PARTICIPANTS. A COLLEGE EVENT HAS A LIST OF STUDENTS WHO REGISTERED MULTIPLE TIMES BY MISTAKE . WRITE PROGRAM USING A SET TO STORE PARTICIPANTS NAMES
         #AND DISPLAY ONLY UNIQUE PARTICIPANTS
studentnames = {"NEHA","SHIVAANII","ADITI","SHALAKA","SHIVAANII","ADITI"}
print(studentnames)

{'NEHA', 'SHIVAANII', 'SHALAKA', 'ADITI'}

In [ ]:
#PROBLEM 2:THREE STUDENTS CHOOSE ELECTIVE SUBJECTS.FIND THE COMMON SUBJECTS CHOOSE BY ALL STUDENTS USING SET OPERATIONS.
UJJAWAL = {"PYTHON","IKS","SOCIAL SERVICES","MARATHI"}
GAYATRI = {"ENGLISH","PYTHON","CHEMISTRY","HISTORY"}
ATHARVA = {"MARATHI","JAVA","ARTS","PYTHON"}
print("common subjects choosen",UJJAWAL&GAYATRI&ATHARVA)

common subjects choosen {'PYTHON'}

In [ ]:
#PROBLEM 3: ONE SET CONTAINS STUDENTS IN THE CRICKET CLUB ANOTHER IN THE FOOTBALL CLUB.1-IN BOTH CLUBS 2-IN ONLY ONE CLUB
CRICKET = {"NEHA","ADITI","SHIVAANII","SHALAKA","UJJAWAL"}
FOOTBALL = {"UJJAWAL","BEDANG","GAYATRI","NEHA"}
print("Students in both clubs :",CRICKET&FOOTBALL)
print("students in one club :",CRICKET^FOOTBALL)

Students in both clubs : {'UJJAWAL', 'NEHA'}
students in one club : {'BEDANG', 'ADITI', 'GAYATRI', 'SHIVAANII', 'SHALAKA'}

In [ ]:
#PROBLEM 4:
present_students = {"neha","gayatri","bedang","ujjawal"}
all_students = {"neha","ujjawal","gayatri","bedang","atharva"}
absent_students = all_students- present_students
print("Absent Students :",absent_students)

Absent Students : {'atharva'}

In [ ]:
#PROBLEM 5:
courses = {"ETC101","ETC102","ETC112"}
courses.discard("ETC101")
print(courses)

{'ETC102', 'ETC112'}

## DICTIONARY

In [ ]:
# CREATION OF THE DICTIONARY
my_dictionary = {
    "brand" : "Skoda",
    "model" : "kushaq",
    "year" : 2022
}
print(my_dictionary)

{'brand': 'Skoda', 'model': 'kushaq', 'year': 2022}

In [ ]:
my_dictionary = {
    "brand" : "Skoda",
    "model" : "kushaq",
    "year" : 2022
}
print(my_dictionary["brand"])

Skoda

In [ ]:
#LATEST VALUER OF THE KEY
my_dictionary = {
    "brand" : "Skoda",
    "model" : "kushaq",
    "year" : 2022,
    "year" : 2024
    }
print(my_dictionary)

{'brand': 'Skoda', 'model': 'kushaq', 'year': 2024}

In [ ]:
#LENGTH OF THE KEY VALUE PAIR
len(my_dictionary)

3

In [ ]:
# CHANGING OR ADDING KEY VALUE TO THE DICTIONARY
car={
    "brand":"skoda",
    "model" : "kushaq",
    "year" : 2022,
    "year" : 2024
      }
car["color"]="white"
x =car.values()
print(x)

dict_values(['skoda', 'kushaq', 2024, 'white'])

In [ ]:
#RETRIVAL OF VALUES
student ={
    "roll":32,
    "name":"Neha",
    "branch":"ENTC"
}
print("Name:",student["name"])

Name: Neha

In [ ]:
#ADDING ANF UPDATING ELEMENTS
student["year"]="First"
student["name"] =" Atharv"
print(student)

{'roll': 32, 'name': ' Atharv', 'year': 'First'}

In [ ]:
#REMOVNG ELEMENTS
student.pop("branch")
print("After removal:",student)

After removal: {'roll': 32, 'name': 'Neha'}

In [ ]:
# Q1) A DICTIONARY STORES PRODUCT NAMES AND THEIR PRICES.WRITE A PYTHON CODE TO UPDATE THE PRICES OF A GIVEN PRODUCT
my_products ={
    "sugar":30,
    "wafers" : 50,
    "biscuits": 40,
    "maida":40
}
print(my_products)
my_products["sugar"]= 20
print(my_products)

{'sugar': 30, 'wafers': 50, 'biscuits': 40, 'maida': 40}
{'sugar': 20, 'wafers': 50, 'biscuits': 40, 'maida': 40}

In [ ]:
#Q2) A DICTIONARY STORES STUDENT NAMES AND MARKS .WRITE A PYTHON TO SEARCH FOR A STUDENT'S MARKS USING THE NAME
#    IF A STUDENT IS NOT FOUND ,DISPLAY A SUITABLE MESSAGE
student_names={
    "Radha":98,
    "Ghanashyam":97,
    "Ahaan":80,
    "Aditi":99,
    "Shivaanii":79
}
name=input("Enter student name :")
print(student_names.get(name,"student not found"))

Enter student name :Neha
student not found

In [40]:
# A DICTIONARY STORES USERNAMES AND PASSWORDS .WRITE A PYTHON CODE TO VALIDATE USER LOGIN
username ={
    "cleverbunny":"clever",
    "radhabavari":"radha@1",
    "Ahaansofar":"private"
}
print(username)
login=input("enter username :")
print(username.get(login,"username not valid"))

{'cleverbunny': 'clever', 'radhabavari': 'radha@1', 'Ahaansofar': 'private'}
enter username :radha
username not valid

In [45]:
# A DICTIONARY STORES STUDENT NAMES AND MARKS . WRITE A PYHTON CODE TO FIND THE STUDENT WHO SCORED THE HIGHEST MARKS
marks={
    "Radha":98,
    "Ghanashyam":97,
    "Ahaan":80,
    "Aditi":99,
    "Shivaanii":79
}

max =max(marks,key =marks.get)
print("highest_score :",max)
print("marks:",marks[max])

highest_score : Aditi
marks: 99